@import "currency-flags.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Catamaran";
    src: local("Catamaran"),
    url(./fonts/Catamaran-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Kredit Front";
    src: local("Kredit Front"), url(./fonts/kredit.ttf) format("truetype");
}

@layer base {
    input {
        @apply outline-none focus:outline-none
    }

    body {
        @apply outline-none;
        backface-visibility: hidden !important;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    main {
        padding: 50px 200px;
    }
}

@layer components {
    .input {
        @apply border-gray-500 border-2 rounded px-3 py-2 my-3 outline-none focus:shadow-xl ease-in-out transition-all duration-300 w-full  lg:justify-center;
    }

    .login-navigation {
        @apply font-semibold w-full text-center py-4 cursor-pointer transition-all ease-in-out duration-300;
    }

    .text-input {
        @apply block text-sm font-medium text-gray-700
    }

    .add-input {
        @apply border-b border-gray-500 bg-transparent ml-3 px-3 py-2 w-full text-sm;
    }

    .card {
        @apply text-black font-bold shadow my-2 px-5 py-3 rounded flex items-center cursor-pointer bg-white lg:p-10 lg:block
    }

    .currency-icon {
        @apply flex-shrink-0 object-cover rounded-full
    }

    .btn {
        @apply text-black bg-white rounded-full w-20 uppercase font-semibold py-1 text-sm transition-all ease-in-out duration-100 outline-none focus:outline-none;
    }

    .desktop-dashboard {
        @apply grid justify-start items-start relative;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 100px;
        row-gap: 30px;
    }
}

@layer utilities {
    .active {
        @apply opacity-100;
    }

    .btn-active {
        @apply bg-control
    }

    .grayscale {
        filter: grayscale(20%);
    }

    .shake {
        animation: shake-effect 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

@keyframes shake-effect {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
